<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd"
       default-lazy-init="true">

    <description>Quartz</description>

    <!-- Cron JobDetail -->
    <bean id="testJobDetail" class="org.springframework.scheduling.quartz.JobDetailBean">
        <property name="jobClass" value="com.emix.core.quartz.CommonJobBean" />
        <property name="jobDataAsMap">
            <map>
                <entry key="realJobBeanName" value="testJob" />
            </map>
        </property>
    </bean>
    <bean id="testTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean" >
        <property name="jobDetail" ref="testJobDetail" />
        <property name="cronExpression" >
            <value>0/30 * *  * * ?</value>
        </property>
    </bean>

    <!-- Quartz本地Schduler -->
    <bean id="localQuartzScheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean" lazy-init="false">
        <!--<property name="configLocation" value="classpath:config/${dubai_env}/quartz.properties" />-->
        <property name="autoStartup" value="false" />
        <property name="startupDelay" value="30"/>
        <property name="overwriteExistingJobs" value="false"/>
        <property name="applicationContextSchedulerContextKey" value="applicationContextKey" />
        <!--<property name="triggers">-->
            <!--<list>-->
            <!--</list>-->
        <!--</property>-->
    </bean>

</beans>